.flex{
    display: flex;
}

.flex-justify-center{
    justify-content: center;
}

.flex-align-center{
    align-items: center;
}
.flex-align-start{
    align-items: flex-start;
}

.text-capitalize{
    text-transform: capitalize;
}
.font-size-24{
    font-size: 1.5rem;
}