.success{
    $color-violet:yellowgreen;
$very-dark-violet: #003300;
$violet-gradient:linear-gradient(45deg,yellowgreen,white,$color-violet);
}
$color-violet:darkviolet;
$very-dark-violet: #35004c;
$violet-gradient:linear-gradient(45deg,violet,white,$color-violet);