@import "reset";
@import "variables";
@import "utility";


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/scss2/wallpaper.jfif");
}

@mixin border() {
    border: 2px solid $color-violet;
    background: $violet-gradient;
}

.game {
    margin: 0.5rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px $very-dark-violet;
    position: relative;
    border: 2px solid $color-violet;
    max-width: 20rem;
}

.game_score {
    flex-direction: column;
    padding: 0 3rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-weight: 500;
    line-height: 2.5rem;

    i {
        margin-right: 1rem;
    }

    .secret {
        border: 2px solid $very-dark-violet;
        background-color: $color-violet;
        box-shadow: 5px 5px 20px $very-dark-violet;
        font-size: 3rem;
        border-radius: 100%;
        width: 2em;
        height: 6rem;
        position: absolute;
        top: -3rem;
        right: 6rem;
        z-index: 1;
    }
}

.game_playing {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .checking {
        gap: 2rem;

        button {
            padding: 0.25rem;
            font-weight: 700;
            border-radius: 0.25rem;
            border: 2px solid $very-dark-violet;
        }
        
        .newgame{
            background-color: $color-violet;
            border-radius: 100%;
            padding: 0.5rem;
            font-weight: 700;
        }

        .reload {
            border-radius: 100%;
            font-weight: 700;
            background-color: $color-violet;

            &:hover {
                background-color: rgba(255, 255, 255, 0.297);
            }
        }

        .check {
            background-color: $color-violet;
            padding: 0.5rem;
            transition: 0.3s all ease-in;

            &:hover {
                background-color: rgba(255, 255, 255, 0.297);
            }
        }
    }

    .instruction {
        font-size: 2rem;
        font-weight: 700;
        color: $very-dark-violet;
    }

    .range {
        @include border();
        border-radius: 0.25rem;
        padding: 0.5rem;
        font-weight: 700;
        border: none;
    }

    input {
        @include border();
        padding: 0.5rem;
        width: 10rem;
        text-align: center;
        font-weight: 700;
        color: $very-dark-violet;
    }

}

@media(min-width:400px){
    .game_score{
        padding: 0 2rem;
        padding-top: 3rem;
        padding-bottom: 1.5rem;
        color: red;
    }
  
}